/*header*/

header {
  display:flex;
  flex-direction: row;
  padding:20px;
  background-image: url(https://media.giphy.com/media/XbShHmOTyEwsU/giphy.gif);
  width:100%
  justify-content:space-between;
  align-items: center;

}

.logo{
  float: left;
}

.menu a {
  text-decoration: none;
}

.menu li:hover, a:hover {
  color: magenta;
}
nav ul li{
  display: inline-block;
  margin: 20px;
  font-size: 30px;
}

ul{
  text-align: center;
}

nav .menu{
  position:relative;
  padding: 20px;
  font-family: 'Dosis', sans-serif;
}
nav .discos{
  position: absolute;
  display: none;
  background-color: cyan;
  font-size: 20px;
  margin: 0 auto;
  text-decoration: none;
}
nav .discos li{
  display: block;
  color: black;
  text-decoration: none;
}

nav .ancla:hover .discos{
  display:block;
}

.submenu1, .submenu2{
  float:left;
}


/*header*/


.portadas {
  text-align: center;
}

.backgroundangustia {
  background-color: #30D0E8;
  font-family: "PT Sans Narrow";
}

.backgroundindex {
  background-color: #E7D3E8;
  font-family: "PT Sans Narrow"
}

.backgroundanesthesia {
  background-color: #A82438;
  font-family: "PT Sans Narrow";
}

.backgrounddesarme {
  background-color: #rgb(217, 90, 28)
}

.backgroundkumkum {
  background-color: rgb(203,72,38);
  font-family: "PT Sans Narrow"
}

.aligncenter {
  text-align: center;
}

h1 {
  font-size: 150px;
}
