.portadas {
  text-align: center;
}

.backgroundangustia {
  background-color: #30D0E8;
  font-family: "PT Sans Narrow";
}

.backgroundindex {
  background-color: #E7D3E8;
  font-family: "PT Sans Narrow"
}

.backgroundanesthesia {
  background-color: #A82438;
  font-family: "PT Sans Narrow";
}

.backgrounddesarme {
  background-color: #rgb(217, 90, 28)
}

.aligncenter {
  text-align: center;
}

h1 {
  font-size: 150px;
}
